<?xml version="1.0" encoding="UTF-8"?>

<suite name="CNC" verbose="1" >

 <test name="Automation Suite" >    
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testcases.AutomationTestScenario"/> 
      <method>
      <include name="Scenario_TC01"/>
      <include name="Scenario_TC01"/>
      <include name="Scenario_TC01"/>
      </method>     	
    </classes>
 </test>
</suite>			